<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="githubfeed" value="https://nuget.pkg.github.com/griffelstudio/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<githubfeed>
			<add key="Username" value="ibober" />
			<add key="ClearTextPassword" value="GITHUBFEED_PACKAGES" />
		</githubfeed>
	</packageSourceCredentials>
</configuration>